<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Chicago Virtual Reality Rentals</title>
</head>

<body>
    <div id="nav">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Event Horizon VR</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="Views/faq.html">FAQ</a>
                        </li>
                        <li>
                            <a href="Views/services.html">Services</a>
                        </li>
                        <li>
                            <a href="Views/about.html">About</a>
                        </li>
                        <li class="active">
                            <a href="Views/contact.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div id="wrapper">
        <h1 id="contactTitle">Contact Event Horizon VR</h1>
        <div id="contactCenterContent">
            <p>Thanks for contacting Event Horzion VR! We're glad to answer any and all questions. </p>
            <p>Please send us an email at MBak@EventHorizonVR.com or call 847-208-0883. </p>
        </div>
    </div>

</body>
<footer>
    <p>Email: mbak@eventhorizonvr.com. Phone: 847-208-0883</p>
</footer>

</html>