<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Chicago Virtual Reality Rentals</title>
</head>

<body id="faqpage">
    <div id="nav">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="../index.html">Event Horizon VR</a>
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../index.html">Home</a>
                    </li>
                    <li class="active">
                        <a href="../Views/faq.html">FAQ</a>
                    </li>
                    <li>
                        <a href="../Views/services.html">Services</a>
                    </li>
                    <li>
                        <a href="../Views/about.html">About</a>
                    </li>
                    <li class="active">
                        <a href="../Views/contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div id="wrapper">
        <h1 id="faqTitle">Event Horizon VR FAQs</h1>
        <img id="htcvive" src="../Images/htcvive.jpg" alt="htc vive image">

        <div id="faqCenterContent">

            <div class="row">
                <div class="col-sm-6">
                    <h2>What is VR (Virtual Reality)?</h2>
                    <p>Our perspective of the world is based on information provided to us by our senses from the world such
                        as light, sounds, smells and touch. Virtual Reality presents your senses with computer generated
                        images, sounds, and a certain degree of haptic (touch) sensation. This tricks your mind into thinking
                        that your body is currently occupying a different place and is in the middle of exploring Mars, fending
                        off a horde of zombies, of taking part in multidimensional pocket-universe tests. </p>
                    <h2>What is the HTC Vive and why use it over other VR headsets?</h2>
                    <p>While other VR headsets (such as the Samsung Gear VR and Oculus Rift) exist, the HTC Vive provides the
                        highest level of immersion currently available on the market due to its world class tracking, large
                        playspace area, and excellent selection of VR titles to play. While wearing the Vive one can walk
                        around in a predetermined area and interact with various objects in the virtual world through the
                        use of two handheld controllers. Actions made in the real world will be mimicked in the virtual one,
                        so a player who is trying to dodge laser blasts from attacking drones would actually need to jump
                        to a side or duck down. This has the unintended (but not unwelcome) side affect of providing a some
                        exercise while having a blast! </p>
                        <h2>What ages is VR best for?</h2>
                        <p>VR is great for all ages! We've had children as young as 6 years old enjoy their first virtual reality experience. Due to the large amount of available games and experiences we are confident that we will find something appropriate for everyone, from terrifying zombie survival shooters to kid-friendly puzzle games. Please contact us to find out more. </p>
                </div>
                <div class="col-sm-6">
                    <h2>How can Event Horizon VR ensure that this is a social experience at my event?</h2>
                    <p>Good question! A large TV will display what the player is experiencing currently which will allow others
                        to enjoy VR from the outside as well as providing encouragement and motivation for the player. Leaderboards
                        can also be established for players who are feeling competitive. Local multiplayer is currently supported
                        to a small degree depending on the size and style of your event as well as specific gaming option,
                        please contact us for more information. In the near future we hope to enable head-to-head multiplayer
                        with several headsets. Online multiplayer may also be available. </p>
                    <h2>Why should I hire Event Horizon VR? Can't I do this myself?</h2>
                    <p>Technically, yes. However, while a person can also purchase and run one's own photo booth studio and
                        DJ setup, most people leave that to the pros to worry about. VR is an expensive pursuit and requires
                        a fair amount of technical and gaming expertise to ensure smooth operation at your event. That's
                        where Event Horizon VR comes in. With our know-how we will ensure that your VR experience will wow
                        your guests and make your event talked about for a long time to come.</p>
                        
                </div>
            </div>

        </div>
    </div>

</body>
</html>