<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Chicago Virtual Reality Rentals</title>
</head>

<body>
    <div id="nav">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="../index.html">Event Horizon VR</a>
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../index.html">Home</a>
                    </li>
                    <li>
                        <a href="../Views/faq.html">FAQ</a>
                    </li>
                    <li class="active">
                        <a href="../Views/services.html">Services</a>
                    </li>
                    <li>
                        <a href="../Views/about.html">About</a>
                    </li>
                    <li>
                        <a href="../Views/contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div id="wrapper">
        <h1 id="centerTitle">Event Horizon VR Services</h1>
        <div id="servicesCenterContent">
            <p>Event Horizon VR is committed to providing a unique and unforgettable entertainment option for events of all
                shapes and sizes including Corporate Events, Birthday Parties, Bar/Bat Mitzvahs, Fundraisers, Holiday Parties,
                and more.</p>
            <p>We provide a full service VR rental experience which includes all the required equipment and trained staff to
                run VR at your event, as well as custom selected games and experiences to fit all ages of partygoers as well
                as the theme of your party. </p>
            <p>Each Virtual Reality setup includes a HTC Vive HMD (Head Mounted Display), two Vive wand controllers, two Lighthouse
                Basestations, and a large TV to display what is being experienced in VR for a fully interactive and social
                experience as well as other ancillary components. </p>
        </div>
    </div>

</body>
<footer>
    <p>Email: mbak@eventhorizonvr.com. Phone: 847-208-0883</p>
</footer>

</html>